*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 1440px;
  margin: auto;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

img {
  width: 100%;
}

.btn, main a, aside a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  background: #ff52bf;
  padding: 1rem 4rem;
  border-radius: 2rem;
  -webkit-box-shadow: 2px 2px 10px #ccc, -2px -2px 10px #ccc;
          box-shadow: 2px 2px 10px #ccc, -2px -2px 10px #ccc;
}

.btn:hover, main a:hover, aside a:hover {
  background: #ff8fd8;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
}

header img {
  width: 30%;
  max-width: 230px;
}

header a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: #ff8fd8;
  font-size: .9rem;
  padding: .5rem 1.5rem;
  border: 1px solid #ff8fd8;
  border-radius: 1.5rem;
  -webkit-box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #eee;
          box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #eee;
}

header a:hover {
  background: #ff8fd8;
  color: white;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

main {
  text-align: center;
  padding: 0 4rem;
}

main div {
  margin: 11rem 0 10rem 0;
}

main p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}

main img {
  margin-bottom: 12rem;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
  background: url(../images/bg-section-top-mobile-1.svg) no-repeat bottom center;
  background-size: contain;
}

article div {
  margin-bottom: 9rem;
}

article img {
  width: 20%;
}

article h3 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: .5rem;
}

article p {
  font-size: 1.5rem;
  color: #aaa;
  text-align: center;
}

section {
  background: #F6FBFF;
  padding: 8rem 2.5rem 5rem;
  text-align: center;
}

section:nth-of-type(2) {
  background: url(../images/bg-section-bottom-mobile-1.svg) no-repeat top center, url(../images/bg-section-top-mobile-2.svg) no-repeat bottom center;
  background-size: contain;
  padding: 20rem 2.5rem 25rem;
}

section:nth-of-type(3) {
  padding: 2rem 2.5rem 12rem;
}

section img {
  width: 80%;
  margin-bottom: 7.5rem;
}

section h2 {
  margin-bottom: 1rem;
}

section p {
  font-size: 1.4rem;
  letter-spacing: .5px;
  line-height: 1.5;
}

aside {
  text-align: center;
  padding: 16rem 2.5rem 30rem;
  background: url(../images/bg-section-bottom-mobile-2.svg) no-repeat, url(../images/bg-footer-top-mobile.svg) no-repeat bottom center;
  background-size: contain;
}

aside h4 {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

footer {
  background: #00252e;
  padding: 5rem 2.5rem;
  color: white;
}

footer .subscribe {
  margin-bottom: 10rem;
}

footer h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

footer p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

footer form {
  text-align: right;
  position: relative;
}

footer form input {
  display: block;
  width: 100%;
  padding: 1.6rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  border: none;
}

footer form small {
  font-size: 1rem;
  visibility: hidden;
  position: absolute;
  bottom: 4.5rem;
  left: 1.6rem;
  color: #ff4242;
}

footer form button {
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .8px;
  background: #ff52bf;
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 5px;
}

footer form button:hover {
  cursor: pointer;
  background: #ff8fd8;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer .address {
  margin-bottom: 5rem;
}

footer .address svg {
  width: 20rem;
  max-width: 230px;
  margin-bottom: 1.5rem;
}

footer .address svg path {
  fill: white;
}

footer .contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
      grid-template-columns: 20px 1fr;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contact a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

footer .social {
  margin-bottom: 3rem;
}

footer .social ion-icon {
  font-size: 32px;
}

footer .social ion-icon:hover {
  cursor: pointer;
  color: #3b5998;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

footer .social ion-icon:nth-child(2) {
  margin: 0 1rem;
}

footer .social ion-icon:nth-child(2):hover {
  color: #DD2A7B;
}

footer .social ion-icon:nth-child(3):hover {
  color: #1DA1F2;
}

footer .attribution {
  font-size: 1.1rem;
  text-align: center;
  margin: 0;
}

footer .attribution a {
  color: white;
}

footer .attribution a:hover {
  color: #ff8fd8;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 12px;
  }
  article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5rem 4rem 10rem;
  }
  article div {
    margin-bottom: 0;
  }
  header {
    padding: 4rem;
  }
  section {
    padding: 4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
  }
  section:nth-of-type(1) div, section:nth-of-type(3) div {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  section:nth-of-type(1) img, section:nth-of-type(3) img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  section:nth-of-type(2) {
    padding: 20rem 4rem 25rem;
  }
  section:nth-of-type(3) {
    padding: 2rem 4rem;
  }
  section img {
    width: 100%;
    margin-bottom: 0;
  }
  aside {
    padding: 25rem 4rem 20rem;
  }
  footer {
    padding: 4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  footer .address {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }
  footer .subscribe {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin-bottom: 0;
  }
  footer form input {
    margin-bottom: 2.5rem;
  }
  footer form small {
    bottom: 5.5rem;
  }
  footer form button {
    width: 100%;
  }
  footer .social {
    grid-column: 1 / -1;
    margin: 0 auto;
  }
  footer .social ion-icon {
    font-size: 40px;
  }
  footer .attribution {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 3.2rem;
  }
  header a {
    font-size: 1.2rem;
    padding: .5rem 2rem;
  }
  main p {
    margin: 0 25rem 3rem;
  }
  main a {
    padding: 2rem 8rem;
    border-radius: 3rem;
  }
  main div {
    margin: 11rem 0 8rem 0;
  }
  main img {
    width: 80%;
    margin-bottom: 2rem;
  }
  article {
    background: url(../images/bg-section-top-desktop-1.svg) no-repeat bottom center;
    background-size: contain;
    padding: 6rem 10rem 22rem;
  }
  section {
    text-align: left;
    padding: 5rem 10rem;
    gap: 6rem;
  }
  section:nth-of-type(2) {
    padding: 25rem 10rem 20rem;
    background: url(../images/bg-section-bottom-desktop-1.svg) no-repeat top center, url(../images/bg-section-top-desktop-2.svg) no-repeat bottom center;
    background-size: contain;
  }
  section:nth-of-type(3) {
    padding: 3rem 10rem;
  }
  section h2 {
    font-size: 2.9rem;
    margin-bottom: 1.5rem;
  }
  section p {
    font-size: 1.1rem;
  }
  section img {
    width: 90%;
  }
  aside {
    background: url(../images/bg-section-bottom-desktop-2.svg) no-repeat, url(../images/bg-footer-top-desktop.svg) no-repeat bottom center;
    background-size: contain;
    padding: 20rem 4rem 24rem;
  }
  aside h4 {
    font-size: 3rem;
  }
  aside a {
    padding: 2rem 8rem;
    border-radius: 3rem;
  }
  footer {
    padding: 10rem 10rem 6rem;
  }
  footer p {
    font-size: 1rem;
    margin-right: 15.5rem;
  }
  footer .contact {
    gap: 1.5rem;
  }
  footer .contact p {
    font-size: 1.1rem;
  }
  footer form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 1fr;
        grid-template-columns: 5fr 1fr;
    gap: 3rem;
  }
  footer form input {
    padding: .5rem 1.5rem;
    margin-bottom: 0;
  }
  footer form button {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
  }
  footer form small {
    bottom: -2rem;
  }
  footer .contact a {
    font-size: 1rem;
  }
  footer .social {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin: 0;
  }
  footer .attribution {
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: right;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    font-size: .85rem;
  }
}
/*# sourceMappingURL=main.css.map */